   // .image {
   //     width: 160px;
        //background-color: #999999;
    //}
    
    .imgLogo {
        width: 35px;
        float:right;
    }

    .pageHome {
        background-image: linear-gradient(57deg,#ffffff 0%, #e0e0e0 46.63%,#007BAB 100%);
        //background: #e0e0e0;
        text-align: center;
    } 
